<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Ability 구현용 기본 클래스</Title>
      <Shortcut>ability</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[
public class NewAbility : Ability
{
  public NewAbility(int level) {
    Level = Mathf.Clamp(level, 1, );
    Name = "New Ability " + Level;
    Summary = "";
    Description = "";
    FieldID = Fld.;
    AbilID = Abil.;
    Toggleable = false;
    Icon = Resources.Load<Sprite>("");
    
    Effect = new(this) {
      MaxStack = 1,
      DurationText = (unit) => "",
      // MaxStackText = (unit) => "",
      Description = new EffectText[] {
        _ => "",
      },
      
      // OnApply = (unit) => {  },
      // OnTick = (unit) => {  },
      // OnRemove = (unit) => {  },
      // OnEnd = (unit) => {  },
    };
  }
  
  public override void Invoke(FieldUnit unit) {  }
  public override void ToggleOn(FieldUnit unit) {  }
  public override void ToggleOff(FieldUnit unit) {  }
}
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>